body{
    background: linear-gradient(blue, yellow);
    font-family: 'Julee', cursive;
    text-align: center;
    height: 95vh;
}

h1{
    font-size: 4em;
    margin-bottom: 1em;
    
}

label{
    font-size: 2em;
    margin-top: 1em;
}

.formulario{
    display: flex;
    flex-direction: column;
    padding: 5em 30em;
}

